div.info.list {
  position: relative;
  top: 18%;
  left: 30%;
  width: 60%;
  height: auto;
}
.neonsign {
  width: 100%;
  height: 150px;
  font-size: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark_conlist,
.recommend_conlist,
.recommend_artlist {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.bookmark_conlist {
  flex-direction: column;
}
.bookmark_conlist .bmk_list_box {
  width: 100%;
  height: 200px;
  /* display: grid; */
  /* grid-template-columns: 3fr 5fr; */
}
.bmk_list_box > * {
  display: inline-block;
}
.bmk_list_box img {
  height: 100%;
}
