.change_password {
  position: relative;
  top: 18%;
  left: 30%;
  width: 60%;
  height: 80%;
}
form.password {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.notice {
  margin: 20px auto;
  width: 80%;
  height: 20%;
}
.notice li {
  margin-top: 10px;
}
form.password input {
  padding: 1.5em;
  width: 80%;
  margin: 0px auto;
}
form.password input.passwordinput.new_check {
  margin: 1px auto;
}

form.password button {
  text-align: center;
  font-weight: 800;
  padding: 1.5em;
  width: 80%;
  outline: none;
  border-radius: 2px;
}
form.password button.changebutton {
  margin: 30px auto 0 auto;
  background-color: skyblue;
}
form.password button.cancelbutton {
  margin: 5px auto;
  color: black;
  border: 1px solid #777;
}
div.pass.div_box {
  margin: 0px auto 0 auto;
}
div.pass.ii {
  display: none;
  flex-basis: 100%;
  font-weight: 600;
  color: red;
}
div.pass.i {
  display: none;
  flex-basis: 100%;
  font-weight: 600;
  color: rgb(18, 194, 18);
}
