form.genre_select {
  position: absolute;
  width: 50%;
  top: 22%;
  left: 35%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  white-space: nowrap;
  z-index: 2;
}

form.genre_select h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.genre-chk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 17px;
  row-gap: 50px;
}
.genre-chk label.text {
  display: inline-block;
}

.genre-chk label {
  cursor: pointer;
}

.genre_button {
  padding: 1em;
  border: none;
  margin-right: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
}

form.genre_select div {
  text-align: left;
  position: relative;
}
.genre_select div input {
  margin-right: 10px;
}

form.genre_select input[type="checkbox"] {
  display: none;
}

form.genre_select input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 17px;
  border-radius: 1em;
  border: 2px solid black;
  cursor: pointer;
}

form.genre_select input[type="checkbox"]:checked + label {
  background-color: orange;
}
