
.setinline {    
    position: relative;
    width: 100%;

}
.profile.img {
    position: absolute;
    width: 150px;
    height: 150px;
    border : 1px solid black ;    
    border-radius: 50%;
    top:30%;
    left:40%;
    margin : 16px auto 16px 20px;
    background: url("/images/profile.png") ;    
    background-size: cover;
    display: inline-block;    
}
.emailid {
    position:absolute;
    top: 30%;
    left: 60%;
}
.nickname {
    position:absolute;
    top: 45%;
    left: 60%;
}
div.profilebutton {
    position : absolute;
    top: 50%;
    left: 41%;
}
button.profilebutton{
    position : absolute;
    top: 55%;
    left: 41.8%;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    transition:0.6s
}
button.profilebutton:hover {
    background-color: black;
    color: white;
}
