.setinline {
  position: relative;
  top: 20%;
  left: 35%;
  width: 60%;
}
.profile.img {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  top: 5%;
  left: 0;
  margin: 16px auto 16px 20px;
  background-size: cover;
  display: inline-block;
}
.emailid {
  width: 300px;
  position: absolute;
  top: 5%;
  left: 30%;
  border: none;
  outline: none;
  background-color: inherit;
}
.nickname {
  position: absolute;
  top: 10%;
  left: 30%;
  border: none;
  outline: none;
  background-color: inherit;
}
div.profilebutton {
  position: absolute;
  top: 25%;
  left: 2%;
}
button.profilebutton {
  position: absolute;
  top: 32%;
  left: 3%;
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  transition: 0.6s;
}
button.profilebutton:hover {
  background-color: black;
  color: white;
}
.profilebutton {
  cursor: pointer;
  padding: 2px;
  font-weight: 900;
}
.profilebutton.myPost {
  position: absolute;
  top: 20%;
  left: 35%;
}
.profilebutton.myReply {
  position: absolute;
  top: 25%;
  left: 35%;
}
.myGenre {
  position: absolute;
  top: 30%;
  left: 35%;
}
div.genre {
  font-weight: 900;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.7s;
}
div.genre:hover {
  color: blue;
  text-decoration: underline;
}
.modal {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 80%;
  height: 50%;
  display: none;
  background-color: antiquewhite;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  flex-direction: column;
  border-radius: 10px;
}
.head {
  display: flex;
  width: 100%;
}
h2 {
  font-size: 18px;
  line-height: 40px;
}
span.close {
  display: inline;
  margin-left: auto;
  margin-right: 12px;
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;
}
.modal table {
  margin: 12px auto;
  width: 100%;
  height: 100%;
}
thead.head {
  height: 10%;
  width: 100%;
  display: flex;
}
.modal tr {
  width: 100%;
  display: flex;
}

.modal td,
th {
  flex: 1;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.modal td:nth-of-type(2),
.modal th:nth-of-type(2) {
  flex: 5;
}
table tbody {
  width: 100%;
  height: 100%;
}
tr.result {
  display: flex;
}

td.reply,
td.post {
  cursor: pointer;
}
