script(src="/js/change_password.js") 
.change_password
    .notice
        h2 비밀번호 변경
        li 다른 아이디/사이트에서 사용한 적 없는 비밀번호
        li 이전에 사용한 적 없는 비밀번호가 안전합니다.                
    form(method="POST", class="password")
        input.password(name="nowPw" placeholder="현재 비밀번호") 
        input.passwordinput.new(name="newPw" placeholder="새 비밀번호") 
        input.passwordinput.new_check(placeholder="새 비밀번호 확인") 
        div.pass.div_box
            div.pass.ii 비밀번호가 일치하지 않습니다
            div.pass.i 비밀번호가 일치합니다
        button.changebutton 확인
        button.cancelbutton 취소