link(rel='stylesheet' href='/css/main/main_community.css')
section.main3
    h3.title Sample title
    .container 
        .categorylist 
            div.category sample 1
            div.category sample 2
            div.category sample 3
            div.category sample 4
            div.category sample 5
        .boardlist 
            table.boardcontainer 
                thead 
                    tr 
                        th 순서
                        th 제목
                        th 날짜
                tbody 
                    tr 
                        td 1
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fugiat, iure harum architecto, saepe alias quod nam sit quibusdam expedita doloribus ducimus natus impedit soluta consequuntur rerum nostrum debitis? Dolorem.
                        td 2022-11-21                        
    .buttonbox 
        button(type="button").more 더 보기