link(rel='stylesheet' href='/css/main/main_community.css')
section#main1.main3
    h3.title Sample title
    .container 
        .categorylist 
            div(value="sample1").category 전체보기
            div(value="sample2").category 공지사항
            div(value="sample3").category 공연후기
            div(value="sample4").category 공연장후기
            div(value="sample5").category 자유게시판
        .boardlist 
            table.boardcontainer 
                thead 
                    tr 
                        th 순서
                        th 제목
                        th 작성자
                        th 날짜
                tbody.boardcontainer.tbody
    .buttonbox 
        a(href="/users/bltBrd").button 더보기