button(type="button").genre_button 선호장르 저장
    .genre_select
        .pop
            label(for="pop") 팝  
            input(type="checkbox" id="pop")                    
        .rock
            label(for="rock") 락    
            input(type="checkbox" id="rock")                    
        .electronic
            label(for="electronic") 일렉트로닉
            input(type="checkbox" id="electronic")                    
        .hiphop
            label(for="hiphop") 힙합
            input(type="checkbox" id="hiphop")                    
        .rnb
            label(for="rnb") 알앤비
            input(type="checkbox" id="rnb")                    
        .jazz
            label(for="jazz") 재즈
            input(type="checkbox" id="jazz")                                
        .classic
            label(for="classic") 클래식
            input(type="checkbox" id="classic")                    
        .ballad
            label(for="ballad") 발라드
            input(type="checkbox" id="ballad")                    
        .dance
            label(for="dance") 댄스
            input(type="checkbox" id="dance")                    
        .trot
            label(for="trot") 트로트
            input(type="checkbox" id="trot")                    
        .inde
            label(for="independent") 인디뮤직
            input(type="checkbox" id="independent")                    
        .traditional
            label(for="국악") 국악
            input(type="checkbox" id="국악")
