form(method ="POST").genre_select
    input(name= "username" placeholder="username을 입력해주세요" id="username")
    .pop
        label(for="pop") 팝 
        input(name= "genre" type="checkbox" id="pop" value="G0001" )
    .rock
        label(for="rock") 락    
        input(name= "genre" type="checkbox" id="rock", value="G0002")
    .trot
        label(for="trot") 트로트
        input(name= "genre" type="checkbox" id="trot", value="G0003")
    .ballad
        label(for="ballad") 발라드
        input(name= "genre" type="checkbox" id="ballad", value="G0004")
    .hiphop
        label(for="hiphop") 힙합
        input(name= "genre" type="checkbox" id="hiphop", value="G0005")
    .rnb
        label(for="rnb") 알앤비
        input(name= "genre" type="checkbox" id="rnb", value="G0006")
    .folk_blues
        label(for="folk_blues") 포크/블루스
        input(name= "genre" type="checkbox" id="folk_blues", value="G0007")                        
    .electronic
        label(for="electronic") 일렉트로닉
        input(name= "genre" type="checkbox" id="electronic", value="G0008")
    .classic
        label(for="classic") 클래식
        input(name= "genre" type="checkbox" id="classic", value="G0009")                                     
    .jazz
        label(for="jazz") 재즈
        input(name= "genre" type="checkbox" id="jazz", value="G0010")                                
    .musical
        label(for="musical") 뮤지컬
        input(name= "genre" type="checkbox" id="musical", value="G0011")                                     
    .CCM
        label(for="CCM") CCM
        input(name= "genre" type="checkbox" id="CCM", value="G0012")
    .inde
        label(for="independent") 인디뮤직
        input(name= "genre" type="checkbox", id="independent", value="G0013")   
    .buttonBox
        button(type="button").genre_button 선호장르 저장
