form(method ="POST").genre_select
    .pop
        label(for="pop") 팝  
        input(name= "pop" type="checkbox" id="pop" value="G0001")                    
    .rock
        label(for="rock") 락    
        input(name= "rock" type="checkbox" id="rock", value="G0002")     
    .trot
        label(for="trot") 트로트
        input(name= "trot" type="checkbox" id="trot", value="G0003")
    .ballad
        label(for="ballad") 발라드
        input(name= "ballad" type="checkbox" id="ballad", value="G0004")
    .hiphop
        label(for="hiphop") 힙합
        input(name= "hiphop" type="checkbox" id="hiphop", value="G0005")
    .rnb
        label(for="rnb") 알앤비
        input(name= "rnb" type="checkbox" id="rnb", value="G0006")
    .folk_blues
        label(for="folk_blues") 포크/블루스
        input(name= "folk_blues" type="checkbox" id="folk_blues", value="G0007")                        
    .electronic
        label(for="electronic") 일렉트로닉
        input(name= "electronix" type="checkbox" id="electronic", value="G0008")
    .classic
        label(for="classic") 클래식
        input(name= "classic" type="checkbox" id="classic", value="G0009")                                     
    .jazz
        label(for="jazz") 재즈
        input(name= "jazz" type="checkbox" id="jazz", value="G0010")                                
    .musical
        label(for="musical") 뮤지컬
        input(name= "musical" type="checkbox" id="musical", value="G0011")                                     
    .CCM
        label(for="CCM") CCM
        input(name= "CCM" type="checkbox" id="CCM", value="G0012")
    .inde
        label(for="independent") 인디뮤직
        input(name= "independent" type="checkbox", id="independent", value="G0013")   
    .buttonBox
        button(type="button").genre_button 선호장르 저장