script(src="/js/favorite_genre.js")
form(method ="POST").genre_select
    h1 선호장르 설정
    div.genre-chk
        .pop
            if info.filter((info) => info.dataValues.genre_code == "G0001") == ""
                input(name= "genre" type="checkbox" id="pop" value="G0001" )
                label(for="pop")
                label(for="pop") 팝
            else
                input(name= "genre" type="checkbox" id="pop" value="G0001" checked)
                label(for="pop")
                label(for="pop") 팝
        .rock
            if info.filter((info) => info.dataValues.genre_code == "G0002") == ""
                input(name= "genre" type="checkbox" id="rock", value="G0002" )
                label(for="rock")
                label(for="rock") 락    
            else
                input(name= "genre" type="checkbox" id="rock", value="G0002" checked)
                label(for="rock")
                label(for="rock") 락    
        .trot
            if info.filter((info) => info.dataValues.genre_code === "G0003") == ""
                input(name= "genre" type="checkbox" id="trot", value="G0003")
                label(for="trot")
                label(for="trot") 트로트
            else
                input(name= "genre" type="checkbox" id="trot", value="G0003" checked)
                label(for="trot")
                label(for="trot") 트로트
        .ballad
            if info.filter((info) => info.dataValues.genre_code === "G0004") == ""
                input(name= "genre" type="checkbox" id="ballad", value="G0004"  )
                label(for="ballad")
                label(for="ballad") 발라드
            else
                input(name= "genre" type="checkbox" id="ballad", value="G0004" checked)
                label(for="ballad")
                label(for="ballad") 발라드
        .hiphop
            if info.filter((info) => info.dataValues.genre_code == "G0005") == ""
                input(name= "genre" type="checkbox" id="hiphop", value="G0005" )
                label(for="hiphop")
                label(for="hiphop") 힙합
            else
                input(name= "genre" type="checkbox" id="hiphop", value="G0005" checked)
                label(for="hiphop")
                label(for="hiphop") 힙합
        .rnb
            if info.filter((info) => info.dataValues.genre_code == "G0006") ==""
                input(name= "genre" type="checkbox" id="rnb", value="G0006")
                label(for="rnb")
                label(for="rnb") 알앤비
            else
                input(name= "genre" type="checkbox" id="rnb", value="G0006" checked)
                label(for="rnb")
                label(for="rnb") 알앤비
        .folk_blues
            if info.filter((info) => info.dataValues.genre_code == "G0007") == ""
                input(name= "genre" type="checkbox" id="folk_blues", value="G0007")
                label(for="folk_blues")
                label(for="folk_blues") 포크/블루스
            else
                input(name= "genre" type="checkbox" id="folk_blues", value="G0007" checked)
                label(for="folk_blues")
                label(for="folk_blues") 포크/블루스
        .electronic
            if info.filter((info) => info.dataValues.genre_code == "G0008") == ""
                input(name= "genre" type="checkbox" id="electronic", value="G0008")
                label(for="electronic")
                label(for="electronic") 일렉트로닉
            else
                input(name= "genre" type="checkbox" id="electronic", value="G0008" checked)
                label(for="electronic")
                label(for="electronic") 일렉트로닉
        .classic
            if info.filter((info) => info.dataValues.genre_code == "G0009") == ""
                input(name= "genre" type="checkbox" id="classic", value="G0009")
                label(for="classic")
                label(for="classic") 클래식
            else
                input(name= "genre" type="checkbox" id="classic", value="G0009" checked)
                label(for="classic")
                label(for="classic") 클래식
        .jazz
            if info.filter((info) => info.dataValues.genre_code == "G0010") == ""
                input(name= "genre" type="checkbox" id="jazz", value="G0010")
                label(for="jazz")
                label(for="jazz") 재즈
            else
                input(name= "genre" type="checkbox" id="jazz", value="G0010" checked)
                label(for="jazz")
                label(for="jazz") 재즈
        .musical
            if info.filter((info) => info.dataValues.genre_code == "G0011") ==""
                input(name= "genre" type="checkbox" id="musical", value="G0011")
                label(for="musical")
                label(for="musical") 뮤지컬
            else
                input(name= "genre" type="checkbox" id="musical", value="G0011" checked)
                label(for="musical")
                label(for="musical") 뮤지컬
        .CCM
            if info.filter((info) => info.dataValues.genre_code == "G0012") ==""
                input(name= "genre" type="checkbox" id="CCM", value="G0012")
                label(for="CCM")
                label(for="CCM") CCM
            else
                input(name= "genre" type="checkbox" id="CCM", value="G0012" checked)
                label(for="CCM")
                label(for="CCM") CCM
        .inde
            if info.filter((info) => info.dataValues.genre_code == "G0013") == ""
                input(name= "genre" type="checkbox", id="independent", value="G0013")
                label(for="independent")
                label(for="independent") 인디뮤직
            else
                input(name= "genre" type="checkbox", id="independent", value="G0013" checked)
                label(for="independent")
                label(for="independent") 인디뮤직
    div.genre.button
        .buttonBox
            button(type="button").genre_button 선호장르 저장
    