footer
  section.footer
    div.introduction
      h3 Tiget
      p.content 열락의 같이, 남는 피다. 낙원을 꾸며 보는 온갖 봄바람이다. 힘차게 평화스러운 보는 사막이다. 위하여, 영락과 새 위하여서, 무엇이 운다. 구할 목숨이 우리의 같은 하는 따뜻한 설산에서 우리 칼이다.들어 것은 불어 피에 사라지지 안고, 그들은 사막이다. 눈에 예수는 황금시대의 사랑의 아니다. 끓는 곳으로 웅대한 아니더면, 보이는 바이며, 하는 가는 것이다. 과실이 이성은 피고 우리 이상은 지혜는 생의 이것이다. 동력은 하였으며, 못할 피고, 군영과 쓸쓸한 영원히 가슴이 피다. 그들에게 인간의 보이는 사라지지 위하여, 찾아다녀도, 것이다.
    div.social
      a(href='#')
        i.fab.fa-instagram
      a(href='#')
        i.fab.fa-twitter
      a(href='#')
        i.fab.fa-facebook
    ul.list
      li
        a(href='#') Privacy Policy
    
    p.email email : --@tiget.com 
    p.copyright Copyright &copy; Tiget All Rights Reserved.


