div.info.list
    div.neonsign Enjoy Your Life!
    div.list_box 
        img.poster
        div.name 제목 표시
        div.date 
            span.start 2022-12-01
            span.dash &nbsp;~&nbsp;
            span.end 2023-01-31
        div.place 장소 표시
        div.dday 디데이 표시
        input(type="checkbox")#bookmark
        label(for="bookmark")
        button.ticketing 예매하기