link(rel="stylesheet" href="/css/mypage/profile.css")
script(src="/js/profile.js")

form.setinline(method="post" enctype="multipart/form-data")
    img.profile.img(src=(`/uploads/${user.profile_image}`) ||  "src=(`/uploads/profile.png`") 
    form(method="POST", enctype="multipart/form-data" )
        input.emailid(name="username" value=`${user.username}` readonly)
        input.nickname(value=`${user.nickname}` readonly)
        div.profilebutton        
            input(type="file", name="b_upfile", accept="image/*")#b_upfile
        button.profilebutton(type="button" value="image") 프로필이미지 변경
