link(rel="stylesheet" href="/css/mypage/profile.css")
script(src="/js/profile.js")
form.setinline(method="post" enctype="multipart/form-data")
    .profile.img= users.profile_image
    span.emailid= 12333
    span.nickname= 34444
    div.profilebutton        
        input(type="file", name="b_upfile", multiple, accept="image/*")#b_upfile
    button.profilebutton(type="flie" value="image") 프로필이미지 변경
