div.calendar
    div.thead
        div.days
            div Sun
            div Mon
            div Tue
            div Wed
            div Thu
            div Fri
            div Sat
    div.tbody
div.calendar.modal
    div.calendar.modal_content
        button(type="button").modal.btn_close X
        div.modal.main
            div.modal.image
            div.modal.button_box
                button(type="button").modal#btn_info 상세정보
                button(type="button").modal#btn_ticketing 예매하기
        div.modal.desc
            div.modal.title 
                h1 제목입니다
                label(for="input_add_list") 찜하기
                input(type="checkbox").modal#input_add_list
            div.modal.body
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ut. Corporis laudantium deleniti voluptate obcaecati, atque distinctio itaque quidem autem porro dicta alias et nostrum fugit minima id perspiciatis sint!