extends ../titlelayout

block content
       
  .main     
    span.tiget Tiget
    .main.mosaic
      .sourceThird.fade-inT      
      .sourceSecond.fade-inS
      .sourceFirst.fade-in
      .arrow-next.shake-horizontal    
    .curl    
      a(href="/main").entrance
    .mosaic.gradient

