extends layout

block content
  script(src="/js/main.js")
  section.calendar.container
    div.calendar.top_box
      div.button_box
        button.prev
        div.number_box
          h2.year
          h1.month
        button.next
        button.today today
      div.search_box
        input(type="text").input_search
        button(type="button").btn_search
        button(type="button").btn_search_detail 상세 
          div.btn_search_detail_arrow
    div.calendar.bottom_box
      table.calendar
        thead
          tr
            th Sun
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
        tbody
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
          tr
            td 
            td 
            td 
            td 
            td 
            td 
            td 
      aside.schedule
        div.ticket_shape
          div.ticket_shape.header 나의 일정 
            div.ticket_shape.circle
          div.ticket_shape.body