extends layout

block content
  script(src="/js/main.js")
  section.schedule.container
    div.schedule.top_box
      button.prev
      div.schedule.number_box
        h2.year
        h1.month
      button.next
      //- today button 은 따로 positon: absolute 설정
      button.today today
    table.schedule
      thead
        tr
          th Sun
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
          th Sat
      tbody
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
        tr
          td 
          td 
          td 
          td 
          td 
          td 
          td 
