extends layout
//- head
//-   link(rel="stylesheet", href="css/stylev2.css")
//-   link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
//-   title footer
//-   footer
//-     .footer-content
//-       h3 Tiget
//-       p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora illum neque reiciendis, minima beatae alias natus. Maxime provident veniam velit natus eos, magnam et alias. Veniam tempore exercitationem ratione. Quis!
//-       ul.socials
//-         li
//-           a(href='#')
//-           i.fab.fa-instagram
//-         li
//-           a(href='#')
//-           i.fab.fa-twitter
//-         li
//-           a(href='#')
//-           i.fab.fa-facebook
//-       .footer-menu
//-         ul.f-menu
//-           li
//-             a(href='#') 공연정보
//-           li
//-             a(href='#') 커뮤니티
//-           li
//-             a(href='#') 연극
//-           li
//-             a(href='#') Privacy Policy
//-     .footer-bottom
//-         p.email email : --@tiget.com 
//-         p.copyright Copyright &copy; Tiget All Rights Reserved.

block content
