extends layout
//- html
//-   head
//-     link(href='./css/styles.css', rel='stylesheet')
//-     script(src="https://cdn.tailwindcss.com")
//-     title My app
//-   body 
//-     h1.text-2xl  Tiget  
//-     p.mt12  소개글
//-     div.text-red-500 소개2 
//-     div 티겟
//-     input(name="username",placeholder="USERNAME",title="사용자 ID")
//-     input(name="password", type="password", placeholder="PASSWORD",title="비밀번호")
//-     button(type="button").user.login 로그인
block content

//- .w-full.bg-grey-lighter.h-screen.flex.flex-col.justify-center
//-   form.w-64.mx-auto.bg-white.shadow-md.rounded.p-8.mb-4
//-     .mb-4
//-       label(for='username').block.text-grey-darkest.font-bold.mb-2 Username
//-       input(type='text', placeholder='Username').shadow.border.rounded.w-full.p-2.text-xs.text-grey-darker
//-     .mb-4
//-       label(for='password').block.text-grey-darkest.font-bold.mb-2 Password 
//-       input(type='password', placeholder='***********').shadow.border.rounded.w-full.p-2.text-xs.text-grey-darker.mb-3
//-       p.text-red-light.text-xs Choose a password
//-     .flex.items-center.justify-between
//-       button(type='submit').bg-blue.text-xs.text-white.font-bold.py-2.px-4.rounded Sign in
//-       a(href='#').inline-block.font-bold.text-xs.text-blue.no-underline Forgot password?
//-   p.text-grey.text-xs.text-center ©2022 All rights reserved.