doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/main.css")    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet")    
    link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet")
    script(src="/js/main.js")
    script(src="/js/title.js")
    link(rel="stylesheet", href="/css/footer.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel="stylesheet", href=`/css/login.css`)
    script(src=`/js/users/main.js`)
  body
    header
      div.left
        h1 
          a(href="/main") Tiget
      div.right
        div.menu
          ul
            li 
              a(href="") 콘서트
            li
              a(href="") 페스티벌
            li 
              a(href="/users/bltBrd") 커뮤니티
        div.search
          input(placeholder= "공연정보를 입력해주세요")
          a(href="") 
            i(class="fa fa-search", aria-hidden="true")
        div.switch
          label.switch
            input(type="checkbox")
            span.slider.round
        div.user
          a#btn-modal
            i(class="fa fa-user-circle", aria-hidden="true")
      div(id="modal", class="modal-overlay")
        div(class="modal-window")
          div(class="title")
          div(class="close-area") X
          div(class="content")
            input(class="user_id" name="user_id", type="text", placeholder="USERNAME")
            input(class="user_pw" name="user_pw", type="password", placeholder="PASSWORD")
            button(type="button", name="login") 로그인
          div.login.url
            a(href="/users/join").join 회원가입
            div.login &nbsp;|&nbsp;
            a(href="/users/loss/username").username 아이디
            div.login &nbsp;|&nbsp;
            a(href="/users/loss/password").password 비밀번호 찾기
            
    section.scroll
      block content      
        
      include includes/footer.pug
      
