extends layout

block content 
    link(rel="stylesheet" href="/css/mypage.css")
    link(rel="stylesheet" href="/css/mypage/profile.css")
    link(rel="stylesheet" href="/css/mypage/change_password.css")
    link(rel="stylesheet" href="/css/mypage/favorite_genre.css")
    link(rel="stylesheet" href="/css/mypage/withdrawal.css")
    div.mypage
        div.menu.section            
            nav.menu
                ul.menu
                    li 사용자 정보
                    li 비밀번호 변경
                    li 선호장르 설정
                    li 찜목록
                    li 회원탈퇴   
        div.info.section
            include includes/favorite_genre.pug
            //- include includes/mypage_profile.pug
            //- include includes/change_password.pug
            //- h2 회원탈퇴
            //- form.withdrawal
            //-     input(type="password" placeholder="비밀번호 입력")
            //-     input(type="password" placeholder="비밀번호 확인")
            //-     button 회원탈퇴
            //- button(type="button").genre_button 선호장르 저장
    