extends layout

block content 
    link(rel="stylesheet" href="/css/mypage.css")
    link(rel="stylesheet" href="/css/mypage/change_password.css")
    link(rel="stylesheet" href="/css/mypage/favorite_genre.css")
    script(src="/js/profile.js")
    div.mypage
        div.menu.section            
            nav.menu
                ul.menu
                    li 사용자 정보
                    li 비밀번호 변경
                    li 선호장르 설정
                    li 찜목록
                    li 회원탈퇴
        if body == "withdrawal" 
            include includes/mypage_withdrawal.pug
        if body == "users"
            include includes/mypage_profile.pug
        if body == "favoriteGenre"
            include includes/favorite_genre.pug
        if body == "change_password"
            include includes/change_password.pug
        if body == "bookmark"
            include includes/mypage_bookmark.pug
