extends layout

block content 
    link(rel="stylesheet" href="/css/mypage.css")
    link(rel="stylesheet" href="/css/mypage/profile.css")
    link(rel="stylesheet" href="/css/mypage/change_password.css")
    link(rel="stylesheet" href="/css/mypage/favorite_genre.css")
    link(rel="stylesheet" href="/css/mypage/withdrawal.css")
    div.mypage
        div.menu.section
            
            nav.menu
                ul.menu
                    li 사용자 정보
                    li 비밀번호 변경
                    li 선호장르 설정
                    li 찜목록
                    li 회원탈퇴   
        div.info.section
            //- include includes/favorite_genre.pug
            //- include includes/mypage_profile.pug
            //- include includes/change_password.pug
            //- h2 회원탈퇴
            //- form.withdrawal
            //-     input(type="password" placeholder="비밀번호 입력")
            //-     input(type="password" placeholder="비밀번호 확인")
            //-     button 회원탈퇴
            button(type="button").genre_button 선호장르 저장
    .genre_select
        .pop
            label(for="pop") 팝  
            input(type="checkbox" id="pop")                    
        .rock
            label(for="rock") 락    
            input(type="checkbox" id="rock")                    
        .electronic
            label(for="electronic") 일렉트로닉
            input(type="checkbox" id="electronic")                    
        .hiphop
            label(for="hiphop") 힙합
            input(type="checkbox" id="hiphop")                    
        .rnb
            label(for="rnb") 알앤비
            input(type="checkbox" id="rnb")                    
        .jazz
            label(for="jazz") 재즈
            input(type="checkbox" id="jazz")                                
        .classic
            label(for="classic") 클래식
            input(type="checkbox" id="classic")                    
        .ballad
            label(for="ballad") 발라드
            input(type="checkbox" id="ballad")                    
        .dance
            label(for="dance") 댄스
            input(type="checkbox" id="dance")                    
        .trot
            label(for="trot") 트로트
            input(type="checkbox" id="trot")                    
        .inde
            label(for="independent") 인디뮤직
            input(type="checkbox" id="independent")                    
        .traditional
            label(for="국악") 국악
            input(type="checkbox" id="국악")
            
