extends layout

block content 
    link(rel="stylesheet" href="/css/mypage.css")
    link(rel="stylesheet" href="/css/mypage/profile.css")
    link(rel="stylesheet" href="/css/mypage/change_password.css")
    link(rel="stylesheet" href="/css/mypage/favorite_genre.css")
    - let users = true
    div.mypage
        div.menu.section            
            nav.menu
                ul.menu
                    li 사용자 정보
                    li 비밀번호 변경
                    li 선호장르 설정
                    li 찜목록
                    li 회원탈퇴   
        div.info.section
        if users
            include includes/mypage_profile.pug
        if withdrawal 
            include includes/mypage_widthdrawal.pug
