extends layout

block content 
    link(rel="stylesheet" href="/css/mypage.css")
    link(rel="stylesheet" href="/css/mypage/profile.css")
    link(rel="stylesheet" href="/css/mypage/change_password.css")
    link(rel="stylesheet" href="/css/mypage/favorite_genre.css")
    link(rel="stylesheet" href="/css/mypage/withdrawal.css")
    script(src="/js/mypage.js")
    script(src="/js/favorite_genre.js")
    //- test 용 username 변수
    - const username = "buddy96@gmail.com";
    - let users = true
    div.mypage
        div.menu.section            
            nav.menu
                ul.menu
                    li 사용자 정보
                    li 비밀번호 변경
                    li 선호장르 설정
                    li 찜목록
                    li 회원탈퇴   
        div.info.section
            include includes/favorite_genre
            //- h2 회원탈퇴
            //- form(method="POST", action=`/mypage/check/${username}`).withdrawal
            //-     input(type="password", name="val_password", placeholder="비밀번호 입력")
            //-     input(type="password", name="chk_password", placeholder="비밀번호 확인")
            //-     button(type="button")#deleteAcc 회원탈퇴
        //- if users
        //-     include includes/mypage_profile.pug
            
