.boardlist 
    table.boardcontainer 
        thead 
            tr 
                th 순서
                th 제목
                th 작성자
                th 날짜
        tbody.boardcontainer.tbody
.buttonbox 
    a(href="/users/bltBrd").button 더보기