doctype html
html
  head    
    link(rel='stylesheet' href='/css/title/title.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet")
block content


