section.concert.content {
  width: 65%;
  margin: 110px auto;
  display: grid;
  grid-template-rows: 0.3fr 1.1fr 2fr 2fr;
}

section.concert.content h2 {
  font-size: 35px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

section.concert.content h4 {
  font-size: 35px;
  padding: 10px;
}

section.concert.content a {
  display: inline-block;
}

section.concert.content button {
  padding-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  color: #aaa;
  background-color: transparent;
}

section.concert.content button:hover {
  color: black;
}

section.concert.content button.active {
  color: black;
}

/* header 부분 */
.header.box,
.region.box {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.header.box button:nth-of-type(1),
.region.box button:nth-of-type(1) {
  margin-left: auto;
}

.header.box h1,
.region.box h1 {
  font-size: 35px;
  padding: 10px;
}

/* 배너 부분 */
article.concert.banner {
  position: relative;
}
.image-view img {
  width: 1150px;
  height: 450px;
}

.image-list {
  position: absolute;
  bottom: 13%;
}

.image-list img {
  width: 70px;
  height: 105px;
  margin: 4px;
  border-radius: 1em;
  opacity: 0.8;
}

.image-list img:hover {
  opacity: 1;
  border: 2.5px solid white;
}

.image-list img.effect {
  transition: 1s;
}
.image-list img:nth-of-type(1) {
  margin-left: 30px;
}

/* 공연 정보 부분 */

article.concert.info {
  margin-bottom: 70px;
}

.concert.info img,
.concert.region img {
  width: 200px;
  height: 300;
  border-radius: 1em;
}

div.concert.poster,
div.region.poster {
  white-space: nowrap;
}

div.concert.poster a,
div.region.poster a {
  display: inline-block;
  margin: 35px 30px 10px 2px;
  width: 200px;
}

div.concert.poster div.title,
div.region.poster div.title {
  font-size: 20px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
