body {
  font-family: "segoe UI";
  font-weight: 400;
  background-color: #ededed;
  /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
  height: auto;
}

.footer {
  padding: 40px 0;
  background-color: #fff;
  height: 100%;
}

.introduction {
  background-color: #ddd;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding: 50px;
  border: 30px;
  border-radius: 5px;
  padding-bottom: 130px;
  margin-bottom: 40px;
}

h3 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px;
}

.footer .social {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
}

.footer .social a {
  font-size: 30px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
  color: black;
}

.email {
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  color: black;
}
