section.scroll {
  scroll-snap-type: none;
  position: relative;
  margin: 0 auto;
}
section.concert.list {
  margin-top: 100px;
  margin: 120px auto 0;
  width: 80vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 2% 0 5%;
}
.concert.msg {
  width: 100%;
  text-align: center;
  padding: 10px 0 100px;
  font-size: 14pt;
  font-weight: 700;
}
/*
cf)
* grid container 속성
    (item들의 너비/높이의 합이 container의 너비/높이보다 작을 경우)
    justify-content: grid contents의 x축 정렬
    align-content: grid contents의 y축 정렬

    justify-items:	grid item들의 x축 정렬
    align-items:	grid item들의 y축 정렬

    gap: 각 item 간 간격(row-gap, column-gap)

    cf) auto-fill 과 auto-fit
    column의 개수를 정하지 않고 설정된 너비의 cell을 최대한 채운다.
    cell의 개수가 모자랄 경우,
    auto-fill은 공간을 남기는 반면 auto-fit은 남는 공간만큼 cell 크기를 stretch

* grid item 속성
    grid-row: grid item의 행 시작 위치 / 끝 위치 지정
    grid-column: grid item의 열 시작 위치 / 끝 위치 지정
*/
.concert.list_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 15px;
}
.list_box {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.list_box .poster {
  border-radius: 5px;
  width: 200px;
  height: 250px;
  overflow: hidden;
}
.list_box .poster img {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: ease-out 0.3s;
  transform-origin: center;
}
.list_box:hover .poster img {
  transform: scale(1.1);
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
.list_box .desc {
  width: 100%;
  text-align: center;
}
.list_box .desc > * {
  margin: 2px 0;
  word-break: keep-all;
}
.list_box .title {
  font-size: 1.2em;
  margin: 20px 0 10px;
}
.list_box .desc div:not(.title) {
  font-size: 0.9em;
  color: #888;
}
