* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

section.scroll {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section.scroll::-webkit-scrollbar,
section.scroll::-webkit-scrollbar-thumb {
  display: none;
}
footer,
div.ranking,
section.calendar.container,
section.main3,
div.main {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}
footer,
div.ranking,
section.calendar.container,
section.main3 {
  padding-top: 120px;
}

/* absolute로 바꾸니까 전체 width가 줄어든 이유?*/
header {
  flex-direction: row;
  padding: 0 30px;
  /* position: absolute; */
  z-index: 40;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in 0.2s;
}
header .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18pt;
}
header .search > * {
  margin: 5px;
}

header.active {
  background-color: #181818;
}
header a {
  color: white;
}
header .user {
  font-size: 25pt;
}
a {
  text-decoration: none;
}
div.main {
  width: 100%;
  height: 100%;
}
div.left {
  flex: 1;
}

div.right {
  display: flex;
  flex: 5;
  justify-content: right;
  align-items: center;
}

div.right div {
  margin: 0 10px;
}

div.right li {
  display: inline;
  list-style: none;
  font-weight: 900;
  margin: 0 15px;
}

div.right img {
  width: 30px;
  height: 30px;
}

div.right input {
  padding: 7px;
  height: 30px;
  border: none;
  outline: 0;
  border-radius: 5px;
  /* border-bottom: 1px solid black; */
}

div.search a {
  display: inline-block;
}

label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* pagination, scrollbar 등 absolute로 되어있는 부분의 크기를 
swiper-container에 딱 맞게끔 하기 위해서 */
.swiper-container {
  position: relative;
  height: 80%;
}

.swiper-wrapper img {
  width: 100%;
  height: 100%;
}

.swiper-scrollbar img {
  width: 86px;
  height: 120px;
  display: none;
  transition: 0.5s;
}

.swiper-horizontal > .swiper-scrollbar {
  transition: 0.5s;
}

.swiper-horizontal > .swiper-scrollbar:hover {
  height: 120px;
}

.swiper-horizontal > .swiper-scrollbar:hover img {
  display: inline;
}

button {
  cursor: pointer;
  font-weight: 900;
}
