section.performance.info {
  width: 75%;
  margin: 10px auto;
  display: flex;
}

div.ranking {
  width: 20%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.recommend {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

div.title button,
div.recommend div.recommend-title {
  border: none;
  font-size: 30px;
  background-color: transparent;
  margin: 15px;
}

div.title span {
  color: #ccc;
  font-size: 26px;
}

button.genre {
  color: #ccc;
}

div.title button.non-active {
  color: #ccc;
}

div.title button:hover {
  color: #aaa;
}

div.title button:focus {
  color: black;
}

/* div.title button:focus {
  color: black;
} */

div.sub-title button {
  padding: 7px 15px;
  font-size: 17px;
  margin: 10px;
  border-radius: 1.5em;
  background-color: white;
  border: 1px solid #ddd;
}
section.performance.info button.active {
  background-color: black;
  color: white;
}

div.sub-title button:hover {
  border: 1px solid black;
}

div.detail img {
  width: 200px;
  height: 247px;
}

div.detail a {
  display: inline-block;
  width: 200px;
  margin: 12px;
}

div.ranking {
  scroll-snap-align: start;
}
div.detail div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section.performance.info div.title,
div.recommend div.recommend-title {
  font-weight: 900;
}

div.recommend div.detail {
  display: flex;
}

div.recommend div.detail .big-poster {
  flex: 1;
}
div.recommend div.detail .big-poster img {
  width: 378px;
  height: 558px;
}

div.recommend div.detail .sub-poster {
  flex: 2;
  align-items: flex-end;
}
