/* global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body,
section {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  user-select: none;
}

/* schedule */
section.schedule.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 
cf)
한 요소에 margin-left: auto 를 주게 되면 
그 요소는 가장 오른쪽에 위치,
나머지 요소들은 전부 왼쪽으로 붙는다.
부모 요소에 적용한 자식 요소들의 가운데 정렬은 무시된다.
*/

div.schedule.top_box {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.schedule.number_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2.year,
h1.month {
  text-align: center;
  user-select: none;
}
h1.month {
  font-size: 2em;
}
button.prev,
button.next {
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  background-color: transparent;
}

/*
before, after는 border로 만든 삼각형
버튼에 hover 되면 반응
*/
button.prev:before,
button.next:after {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  width: 0;
  height: 0;
  cursor: pointer;
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

button.prev:before {
  border-left: 15px solid transparent;
  border-right: 15px solid black;
  left: calc(50% - 25px);
}
button.next:after {
  border-left: 15px solid black;
  border-right: 15px solid transparent;
  left: calc(50% - 5px);
}

button.prev:hover:before {
  border-right-color: orange;
  animation: 0.3s infinite alternate linear moveLeft;
}
button.next:hover:after {
  border-left-color: orange;
  animation: 0.3s infinite alternate linear moveRight;
}
@keyframes moveLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

button.today {
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  border: 2px solid black;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  background-color: transparent;
  font-weight: 700;
}
button.today:hover {
  border-color: orange;
  color: orange;
  box-shadow: 0 0 4px orange;
}

/* table 영역 */
table.schedule {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
table.schedule thead tr th {
  border: 0;
  padding: 1em;
  width: calc(100% / 7);
  user-select: none;
}
table.schedule tbody tr td {
  border: 1px solid #ccc;
  margin: 5px;
  width: calc(100% / 7);
  position: relative;
}
table.schedule tbody tr td div.date_txt {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
table.schedule tbody tr td.today > div.date_txt {
  background-color: orange;
}
table.schedule tbody tr td.prevMonth > div.date_txt,
table.schedule tbody tr td.nextMonth > div.date_txt {
  color: #ccc;
}
