link(rel="stylesheet", href="/css/ranking.css")
div.ranking
    div.title
        button 공연 랭킹
        span |
        button.genre 장르별 랭킹

    div.sub-title
        button.internal 국내
        button.external 내한
        button.festival 페스티벌
    div.detail
        div.internal
            a(href="")
                img(src="http://image.toast.com/aaaaab/ticketlink/TKL_1/jan_daegu_221020.jpg", alt="")
                div
                    div.title 잔나비 전국투어 <판타스틱 올드 패션드>
                    div 2022.12.10 - 2022.12.11
            a(href="")
                img(src="http://image.toast.com/aaaaab/ticketlink/TKL_5/ep_pst1109.jpg", alt="")
                div
                    div.title 2022 최유리 EP 발매 기념 단독 콘서트 '여운'
                    div 2022.12.03 - 2022.12.04
        
        div.external
            a(href="")
                img(src="http://image.toast.com/aaaaab/ticketlink/TKL_4/cats_pst1107.jpg", alt="")
                div
                    div.title 뮤지컬 ＜캣츠＞오리지널 내한－서울（Musical CATS）
                    div 2023.01.20 - 2023.02.03
            a(href="")
                img(src="http://image.toast.com/aaaaab/ticketlink/TKL_8/poster(220915)b.jpg", alt="")
                div
                    div.title 2022 푸에르자부르타 웨이라 인 서울
                    div 2022.09.29 - 2022.12.26