/* 커뮤니티 화면 */
article.bitBrd {
  scroll-snap-align: start;
  display: flex;
  width: 100%;
  height: 100%;
}
div.main {
  width: 80%;
  margin: auto;
}
article.bitBrd aside.bitBrd.aside {
  margin: 5% auto 0 auto;
  flex: 1;
  border: 1px solid #aaa;
}
article.bitBrd div.bitBrd.table {
  flex: 4;
}
thead tr.title,
tbody tr.item {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 5fr 1fr 0.5fr;
  border: 1px solid #aaa;
}

table.bitBrd.table,
div.button.box,
div.bitBrd.category {
  width: 80%;
  margin: 10px auto;
}
div.bitBrd.category {
  margin: 4% auto 0 auto;
  font-size: 16px;
  font-weight: 600;
}
nav.main {
  padding-top: 2%;
  display: flex;
}
nav.main ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav.main li {
  padding: 12px 16px;
  border: 2px solid #bbb;
  color: gray;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  color: black;
  cursor: pointer;
}

div.button.box {
  text-align: right;
}
div.button.box a {
  color: white;
}
div.button.box button {
  padding: 12px 16px;
  background-color: gray;
  border-radius: 5px;
}
div.categorysearch {
  text-align: right;
  transition: 0.5s;
}
div.categorysearch select,
div.categorysearch input,
div.categorysearch button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
