/* 커뮤니티 화면 */
article.bltBrd {
  scroll-snap-align: start;
  display: flex;
  width: 100%;
  height: 120%;
  margin-top: 100px;
}
div.main {
  width: 80%;
  margin: auto;
}
article.bltBrd aside.bltBrd.aside {
  margin: 5% auto 0 auto;
  flex: 1;
  border: 1px solid #aaa;
}
article.bltBrd div.bltBrd.table {
  flex: 4;
}
thead tr.title,
tbody tr.item {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1.5fr 0.5fr;
}
thead tr.title {
  border-bottom: 2px solid #181818;
  padding: 0.4em 0;
}
tbody tr.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
thead tr.title th,
tbody tr.item td {
  padding: 0.5em 1em;
  white-space: nowrap;
}
thead tr.title th {
  text-align: center;
}
tbody tr.item td {
  border-bottom: 1px solid #aaa;
}
tr.title th:nth-of-type(1),
tr.item td:nth-of-type(1) {
  min-width: 107.2px;
}
tr.item td:nth-of-type(1),
tr.item td:nth-of-type(2),
tr.item td:nth-of-type(4),
tr.item td:nth-of-type(5) {
  text-align: center;
}
tr.item td:nth-of-type(1) {
  font-weight: 700;
}
tr.item td:nth-of-type(2),
tr.item td:nth-of-type(3) {
  padding: 0.5em 2em;
}
table.bltBrd.table,
div.button.box,
div.bltBrd.category {
  width: 80%;
  margin: 10px auto;
}
div.bltBrd.category {
  margin: 4% auto 0 auto;
  font-size: 16px;
  font-weight: 600;
}
nav.main {
  padding-top: 2%;
  display: flex;
}
nav.main ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav.main li {
  padding: 12px 16px;
  border: 2px solid #bbb;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  color: black;
  cursor: pointer;
  white-space: nowrap;
}

div.button.box {
  text-align: right;
}
div.button.box a {
  color: white;
}
div.button.box button {
  padding: 12px 16px;
  background-color: gray;
  border-radius: 5px;
}
div.categorysearch {
  text-align: right;
  transition: 0.5s;
}
div.categorysearch select,
div.categorysearch input,
div.categorysearch button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
div.pageContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

div.pageContainer button {
  font-weight: 400;
  width: 50px;
}

button.pagefirst,
button.pageEnd {
  font-size: 18px;
  background-color: transparent;
}
button.pageNext,
button.pagePrev,
button.pageNumber {
  padding: 12px;
  font-size: 18px;
  background-color: transparent;
}
