/* 글쓰기화면 */
div.write.main {
  width: 80%;
  height: 100%;
  margin: auto;
}
div.write.insert {
  display: flex;
}
span.button_box {
  margin-top: 90px;
}
h1.mina {
  margin-top: 90px;
  margin-bottom: 10px;
}
span.button_box {
  margin-left: auto;
}
span.button_box button.write.insert {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}
div.margin {
  padding: 5px;
  border-top: 2px solid black;
}
div.form.title {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
div.form.title input,
div.form.title select {
  padding: 1em;
  margin-bottom: 15px;
}
div.form.title select {
  font-weight: 600;
}
div.main.text textarea {
  width: 100%;
  padding: 1em;
}
#multiple-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.image {
  display: block;
  width: 100%;
}
.image-label {
  position: relative;
  bottom: 22px;
  left: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
textarea.main_text {
  outline: none;
}
