extends ../layout

block content
    link(rel="stylesheet", href="/css/users/bltBrd.css")
    script.
        let category = `#{body}`
        let totalPage = `#{totalPage}`
        const pageGroup = `#{pageGroup}`
        const currentPage = `#{pageNum}`
    script(src="/js/users/bltBrd.js") 
    article.bltBrd
        div.bltBrd.table
            div.bltBrd.category | 커뮤니티
                nav.main
                    ul
                        li.all 전체보기
                        li.Notice 공지사항
                        li.concert_review 공연후기
                        li.concert_hall_review 공연장후기
                        li.freeboard 자유게시판
            div.button.box
                button
                    a(href="http://localhost:3002/users/bltBrd/write").write 글쓰기
            table.bltBrd.table
                thead 
                    tr.title
                        th 게시판
                        th 글쓴이
                        th 제목
                        th 등록일
                        th 조회수
                if body == "all"
                    include category/categoryall.pug
                if body == "Notice"
                    include category/categoryNotice.pug
                if body == "공연후기"
                    include category/categoryconcert_review.pug
                if body == "공연장후기"
                    include category/categoryconcert_hall_review.pug
                if body == "자유게시판"
                    include category/categoryfreeboard.pug
            div.pageContainer
                button.pagefirst <<
                button.pagePrev <
                div.pagecon
                button.pageNext >
                button.pageEnd >>
                
        aside.bltBrd.aside Side Content
            div 뭔가 홍보할만한 이미지같은거 작게 넣기 위한칸