extends ../layout

block content
    link(rel="stylesheet", href="/css/users/bitBrd.css")
    script.
        let category = "all"
        //- if(c.category){
        //-     category = c.category
        //- }
        console.log(category)
    script(src="/js/users/bltBrd.js") 
    article.bitBrd
        div.bitBrd.table
            div.bitBrd.category | 커뮤니티
                div.category
                    a(href="bltBrd/all" role="button").all 전체보기
                    a(href="bltBrd/Notice" role="button").Notice 공지사항
                    a(href="bltBrd/concert_review" role="button").concert_review 공연 후기
                    a(href="bltBrd/concert_hall_review" role="button").concert_hall_review 공연장 후기
                    a(href="bltBrd/freeboard" role="button").freeboard 자유게시판
            div.button.box
                button
                    a(href="bltBrd/write").write 글쓰기
            table.bitBrd.table
                thead 
                    tr.title
                        th 게시판
                        th 글쓴이
                        th 제목
                        th 등록일
                        th 조회수
                tbody 
                    tr.item
                        td 공지사항
                        td 홍길동
                        td 쏜애플 콘서트 ‘불구경’ 티켓오픈안내 
                        td 2022-11-18
                        td 12
        aside.bitBrd.aside Side Content
            div 뭔가 홍보할만한 이미지같은거 작게 넣기 위한칸
            