extends ../layout

block content
    link(rel="stylesheet", href="/css/users/detail.css")
    div.main
        div.container.box
            div.notice.board
                div.category [카테고리]
                div.title 제목
                div.userImg 프로필이미지
                div.user 작성자
                div.content 
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
                    p 본문내용 본문내용 본문내용
            div.commentbox
                div.comments 댓글
                div.comment 댓글내용

