link(rel="stylesheet", href="/css/users/lossPw.css")
script.
    const number = `#{num}`
    const email = `#{email}`
script(src="/js/users/lossPw.js") 
form(method="post").email
    div.loss.pw
        div.emailInput 비밀번호를 찾고자 하는 이메일을 입력해주세요
        input(placeholder="이메일을 입력해주세요" name="email").email
        button(type="button").email 다음