extends ../layout

block content
    link(rel="stylesheet", href="/css/users/write.css")
    script(src="/js/users/write.js")
    div.write.main
        div.write.insert
            h1.mina 글쓰기
            span.button_box
                button(type="submit").write.insert 등록
        div.margin
        form(method="POST",enctype="multipart/form-data").category
            div.form.title
                input(type="text", name="b_title").main.title 
                select(name="sort_board").category
                    option(value="none") 게시판을 선택해주세요
                    option(value="공지사항") 공지사항
                    option(value="공연후기") 공연후기
                    option(value="공연장후기") 공연장후기
                    option(value="자유게시판") 자유게시판
            div.main.text
                textarea(id="content", cols="30", rows="30", name="b_content").content
            div.img
                input(style="display: block;" type="file" name="c_image_file" id="input-multiple-image" multiple)
                div(id="multiple-container")
