html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Nanum Myeongjo", serif;
}

/* div.flag {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #bbb;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    95% 100%,
    75% 80%,
    50% 100%,
    25% 80%,
    5% 100%,
    0 100%
  );
  background: url(../images/IU.jpg) 50%, no-repeat;

  background-size: cover;
} */

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
span.tiget {
  z-index: 1;
  font-family: "Rubik Distressed", cursive;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 120px;
  color: aliceblue !important;
}
.main.mosaic {
  position: relative;
}
.sourceFirst.fade-in {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/images/first_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sourceSecond.fade-inS {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/images/second_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sourceThird.fade-inT {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/images/third_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.curl {
  z-index: 1;
  width: 2%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.7),
    #292828 30%,
    rgb(146, 146, 146) 25%,
    rgb(109, 108, 108) 25%,
    rgb(65, 64, 64) 28%,
    rgb(75, 75, 75) 31%,
    #f3f3f3 40%,
    rgb(230, 225, 225) 100%
  );
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.5s cubic-bezier(0.14, 0.52, 0.88, 0.29);
  opacity: 0.8;
}
/* .curl:before
.curl:after{
	content: '';
	position: absolute;
	z-index: -1;
	left: 12.5%;
	bottom: 5.8%;
	width: 70%;
	max-width: 300px;
	max-height: 100px;
	height: 55%;
	box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
	transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
	left: auto;
	right: 5.8%;
	bottom: auto;
	top: 14.16%;
	transform: skew(-15deg) rotate(-84deg);
} */

.curl:hover {
  width: 150px;
  height: 100%;
}
.curl a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.mosaic.gradient {
  z-index: 2;
  content: "" !important;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    transparent
  ) !important;
  position: absolute !important;
  top: 0;
  right: 15% !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0;
  transition: 0.5s;
}

.curl:hover + .mosaic.gradient {
  opacity: 1;
}

/* .curl:hover:before,
.curl:hover:after {
	box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
} */

.arrow-next {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 5px;
  right: -87%;
  top: 50%;
}

.arrow-next::after {
  position: absolute;
  left: 10px;
  top: 20px;
  content: "";
  width: 50px; /* 사이즈 */
  height: 50px; /* 사이즈 */
  border-top: 5px solid rgba(0, 0, 0, 0.7); /* 선 두께 */
  border-right: 5px solid rgba(0, 0, 0, 0.7); /* 선 두께 */
  transform: rotate(45deg); /* 각도 */
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  -webkit-animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 5s both;
  animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 5s both;
}
.fade-inS {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 10s both;
  animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 10s both;
  -webkit-animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 15s both
    forwards;
  animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 15s both
    forwards;
}
.fade-inT {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 5s both;
  animation: fade-in 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 5s both;
  -webkit-animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 10s both;
  animation: fade-out 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) 10s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-19 17:2:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.shake-horizontal {
  -webkit-animation: shake-horizontal 3s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    2s infinite both;
  animation: shake-horizontal 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s
    infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-19 17:7:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
