h3.title {
    font-size: 3em;
    margin : 24px auto 0px 15%;
    font-family: 'Nanum Myeongjo', serif;
}
.container {    
    margin: 2% auto;
    width: 80%;
    height: 70%;
    display: flex;
    font-family: 'Nanum Myeongjo', serif;
}
.categorylist{
    flex : 1;
    /* border: 1px solid black;     */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse:collapse
}

.category {
    margin: 12px auto;
    padding: 0.4em;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 2px solid gray;
    text-align: center ;
    line-height: 100px;
    cursor: pointer;    
    opacity: 0.7;
    transition: 0.3s;
}

.boardlist {
    flex : 4;
    /* border: 1px solid black; */
    
}
table.boardcontainer{
    width: 100%;
    overflow: none;    
}
table.boardcontainer tr {    
    display: flex;
    border-collapse:collapse;    
}
table.boardcontainer tbody tr td{
    flex: 1;  

}
table.boardcontainer tbody tr td:nth-of-type(2) {
    white-space: nowrap;
    text-overflow: ellipsis;
    width:70px;
    overflow:hidden;
}
table.boardcontainer th{    
    flex: 1;    
    border-bottom: 1px solid black;    
}
table.boardcontainer th:nth-of-type(1) {
    margin-left: 16px ;
    text-align: left;
}
table.boardcontainer th:nth-of-type(3) {
    margin-right: 16px;
    text-align: right;
}
table.boardcontainer tbody td:nth-of-type(1) {
    margin-left: 16px ;
    text-align: left;
}
table.boardcontainer tbody td:nth-of-type(3) {
    margin-right: 16px;
    text-align: right;
}
table.boardcontainer td {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 12px 16px 8px 16px;
    cursor: pointer; 
}
table.boardcontainer td:hover {
    text-decoration: underline;
}
.buttonbox {
    margin: 0 auto;
    width: 80%;
    text-align: right;
}
.buttonbox button{
    padding: 1em;
    border-radius: 5%;
    background: rgb(0, 0, 0) ;
    color: white;
    opacity: 0.5;
    transition: 0.3s;    
    border: none ;    
}
 
.category:hover {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
button.more:hover {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}